Repository gdgtoledo/web, pull requests merged in 2019-09, with the labels that each got.

#50 Refleja en README.md el uso de la plantilla de meetups
  README.md
Labels: docs

#55 [#54] Removed _sites from gitignore to test deployment in github with…
  .gitignore
  _site/404/index.html
  _site/Dockerfile
  _site/README.md
  _site/assets/css/highlight.css
  _site/assets/css/style.css
  _site/assets/fonts/icons.eot
  _site/assets/fonts/icons.svg
  _site/assets/fonts/icons.ttf
  _site/assets/fonts/icons.woff
  _site/assets/images/avatar.png
  _site/assets/images/avatar@2x.png
  _site/assets/images/background.png
  _site/assets/images/favicon.ico
  _site/assets/images/icons/code.png
  _site/assets/images/icons/slide.png
  _site/assets/images/icons/video.png
  _site/assets/images/meetups/2017-06-22-stop-starting-start-finishing-una-introduccion-a-kanban/antonio.jpeg
  _site/assets/images/meetups/2017-06-22-stop-starting-start-finishing-una-introduccion-a-kanban/manu-debate.jpeg
  _site/assets/images/meetups/2017-06-22-stop-starting-start-finishing-una-introduccion-a-kanban/manu-empezando-tablero.jpeg
  _site/assets/images/meetups/2017-06-22-stop-starting-start-finishing-una-introduccion-a-kanban/manu-teoria-kanban.jpeg
  _site/assets/images/meetups/2017-10-26-jekyll-no-compliques-lo-que-es-sencillo/javi.jpg
  _site/assets/images/meetups/2017-12-02-vueling-aprendiendo-vue/ceramica.jpg
  _site/assets/images/meetups/2017-12-02-vueling-aprendiendo-vue/ceramica2.jpg
  _site/assets/images/meetups/2017-12-02-vueling-aprendiendo-vue/mazinger.jpg
  _site/assets/images/meetups/2017-12-02-vueling-aprendiendo-vue/menu.jpg
  _site/assets/images/meetups/2017-12-02-vueling-aprendiendo-vue/rafa-explicando-dos.jpg
  _site/assets/images/meetups/2017-12-02-vueling-aprendiendo-vue/rafa-explicando.jpg
  _site/assets/images/meetups/2018-02-05-blockchain-ethic-hub-toledo/audiencia.jpeg
  _site/assets/images/meetups/2018-02-05-blockchain-ethic-hub-toledo/ethic-hub-toledo.jpeg
  _site/assets/images/meetups/2018-02-05-blockchain-ethic-hub-toledo/gabriela.jpeg
  _site/assets/images/members/felix-ortega-moreno.png
  _site/assets/images/members/javier-lopez-de-ancos.png
  _site/assets/images/members/manuel-de-la-penya.png
  _site/assets/js/highlight.js
  _site/assets/js/main.js
  _site/collection/meetups/index.html
  _site/collection/members/index.html
  _site/collection/posts/index.html
  _site/credits/index.html
  _site/docker-compose.yml
  _site/feed.xml
  _site/index.html
  _site/meetups/2017-06-22-stop-starting-start-finishing-una-introduccion-a-kanban/index.html
  _site/meetups/2017-10-26-jekyll-no-comliques-lo-que-es-sencillo/index.html
  _site/meetups/2017-12-02-vueling-aprendiendo-vue-js/index.html
  _site/meetups/2018-02-05-blockchain-ethic-hub-toledo/index.html
  _site/meetups/2018-07-05-hagamos-extremme-programming/index.html
  _site/meetups/index.html
  _site/members/felix-ortega-moreno/index.html
  _site/members/javier-lopez-de-ancos/index.html
  _site/members/manuel-de-la-penya/index.html
  _site/posts/2013-11-10-hola-mundo/index.html
  _site/posts/index.html
Labels: block, medium

#61 Add 2019 meetups and resources (and other minor changes)
  _includes/meetups.html
  _layouts/meetup.html
  _meetups/1900-01-01-meetup-event-name.md
  _meetups/2017-06-22-stop-starting-start-finishing-una-introduccion-a-kanban.md
  _meetups/2017-10-26-jekyll-no-comliques-lo-que-es-sencillo.md
  _meetups/2017-12-02-vueling-aprendiendo-vue-js.md
  _meetups/2018-02-05-blockchain-ethic-hub-toledo.md
  _meetups/2018-07-05-hagamos-extremme-programming.md
  _meetups/2019-02-28-dream-qa.md
  _meetups/2019-02-28-necesito-una-cli-la-escribo-en-node-o-en-go.md
  _meetups/2019-03-28-clean-architectures.md
  _meetups/2019-04-25-groogleando-voy.md
  _meetups/2019-06-08-cloud-study-jam-machine-learning-apis.md
  _meetups/2019-09-12-mi-aplicacion-falla-y-no-se-por-que-por-donde-empiezo.md
  assets/css/style.css
  assets/images/icons/group.png
  assets/images/meetups/2019-02-28-dream-qa/manu-en-accion.jpg
  assets/images/meetups/2019-03-28-clean-architectures/alvaro-en-accion.jpg
  assets/images/meetups/2019-03-28-clean-architectures/arquitectura-graphite.jpg
  assets/images/meetups/2019-03-28-clean-architectures/arquitectura-por-capas.jpg
  assets/images/meetups/2019-03-28-clean-architectures/asistentes.jpg
  assets/images/meetups/2019-04-25-groogleando-voy/presentacion-jorge-aguilera.jpg
  assets/images/meetups/2019-04-25-groogleando-voy/que-es-un-dsl.jpg
  assets/images/meetups/2019-06-08-cloud-study-jam-machine-learning-apis/cocido.jpg
  assets/images/meetups/2019-06-08-cloud-study-jam-machine-learning-apis/laura-en-accion.jpg
  assets/images/meetups/2019-06-08-cloud-study-jam-machine-learning-apis/lleno-total.jpg
  assets/images/meetups/2019-06-08-cloud-study-jam-machine-learning-apis/wellcome-manu.jpg
  assets/images/meetups/2019-09-12-mi-aplicacion-falla-y-no-se-por-que-por-donde-empiezo/arrancando-meetup.jpg
  assets/images/meetups/2019-09-12-mi-aplicacion-falla-y-no-se-por-que-por-donde-empiezo/attendees.jpg
  assets/images/meetups/2019-09-12-mi-aplicacion-falla-y-no-se-por-que-por-donde-empiezo/what-is-elasticsearch.jpg
Labels: docs, low

#67 Add 2018 meetups and resources
  _meetups/2017-06-22-stop-starting-start-finishing-una-introduccion-a-kanban.md
  _meetups/2018-01-11-clean-code.md
  _meetups/2018-02-28-ven-a-conocer-el-big-data.md
  _meetups/2018-03-27-automate-your-build.md
  _meetups/2018-05-08-i-o-extended-2018-toledo.md
  _meetups/2018-06-16-primer-hackday-gdg-toledo.md
  _meetups/2018-10-04-21-dias-haciendo-tests-lo-que-he-aprendido.md
  _meetups/2018-11-10-women-in-tech-de-cero-a-front-pasando-por-adalaba.md
  _meetups/2018-11-22-dockeriza-tu-aplicacion-php.md
  _meetups/2018-11-28-como-crear-una-aplicacion-de-voz.md
  assets/images/meetups/2018-01-11-clean-code/asistentes.jpg
  assets/images/meetups/2018-01-11-clean-code/deseos-2018.jpg
  assets/images/meetups/2018-01-11-clean-code/inicio-charla.jpg
  assets/images/meetups/2018-02-28-ven-a-conocer-el-big-data/asistentes.jpg
  assets/images/meetups/2018-02-28-ven-a-conocer-el-big-data/como-se-hace-big-data.jpg
  assets/images/meetups/2018-02-28-ven-a-conocer-el-big-data/plata-en-accion.jpg
  assets/images/meetups/2018-05-08-i-o-extended-2018-toledo/decoracion-futbolin.jpg
  assets/images/meetups/2018-05-08-i-o-extended-2018-toledo/google-i-o-live.jpg
  assets/images/meetups/2018-05-08-i-o-extended-2018-toledo/jose-julian-ariza.jpg
  assets/images/meetups/2018-05-08-i-o-extended-2018-toledo/pegatinas.jpg
  assets/images/meetups/2018-05-08-i-o-extended-2018-toledo/sala-google-i-o-live.jpg
  assets/images/meetups/2018-10-04-21-dias-haciendo-tests-lo-que-he-aprendido/presentacion.jpg
  assets/images/meetups/2018-11-10-women-in-tech-de-cero-a-front-pasando-por-adalab/aylen-y-companieras.jpg
  assets/images/meetups/2018-11-10-women-in-tech-de-cero-a-front-pasando-por-adalab/comida-post-meetup.jpg
  assets/images/meetups/2018-11-10-women-in-tech-de-cero-a-front-pasando-por-adalab/ponentes.jpg
  assets/images/meetups/2018-11-22-dockeriza-tu-aplicacion-php/andres-en-accion.jpg
  assets/images/meetups/2018-11-28-como-crear-una-aplicacion-de-voz/aforo-completo.jpg
  assets/images/meetups/2018-11-28-como-crear-una-aplicacion-de-voz/javi-participando.jpg
  assets/images/meetups/2018-11-28-como-crear-una-aplicacion-de-voz/nieves-y-carlos.jpg
  assets/images/meetups/2018-11-28-como-crear-una-aplicacion-de-voz/presentacion.jpg
  assets/images/meetups/2018-11-28-como-crear-una-aplicacion-de-voz/tercer-tiempo.jpg
Labels: data
